//forms
//logo

.form__label--hidden {
    display: none;
}

.form__input {
    
    @include center($w:100%)
    {
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $primary-color;
    @extend %font-sz;
    font-weight: bold;
}
}
